<div class="items">
    <div>
        <h1 class="title">Condimentum consectetur</h1>
    </div>
    <!--FILTERS SECTION START-->
    <div class="search-options">
        <div>
            <div class="select-group">
                <i class="chick-sword"></i>
                <select name="filter" 
                        class="game">
                    <option value="volvo">Select a game</option>
                </select>
            </div>
        </div>
        <div class="width-100">
            <input  type="text" 
                    class="search"  
                    name="search" 
                    placeholder="Search" />
        </div>
        <div class="sort-select-section">
            <div class="select-group double">
                <i class="chick-bag"></i>
                <span class="select-label">Price</span>
                <select name="filter" 
                        class="sort no-border-right">
                    <option value="volvo">ALL</option>
                </select>
            </div>
            <div class="select-group double">
                <i class="chick-feather"></i>
                <span class="select-label">Item Type</span>
                <select name="filter" 
                        class="sort no-border-left">
                    <option value="volvo">ALL</option>
                </select>
            </div>
        </div>
    </div>
    <!--FILTERS SECTION END-->

    
    <!--ITEMS LIST SECTION START-->
    <div class="list-section">
        <app-product-list></app-product-list>
    </div>
    <!--ITEMS LIST SECTION START-->
</div>