<div class="list-body">

    <!--FILTERS SECTION START-->
    <div class="filter-nav">
        <span class="total-label">Showing 20 from 125</span>
        <div class="select-group">
            <i class="chick-sort"></i>
            <span class="select-label">Sort By</span>
            <select name="filter" 
                    class="sort">
                <option value="volvo">Featured</option>
            </select>
        </div>
    </div>
    <!--FILTERS SECTION END-->
    
    <!--PRODUCTS SECTION START-->
    <div class="products-section"> 
        <div class="chick-card" *ngFor="let document of [1,2,3,4,6,7,8,9,10,1,1,1,1,1,1,1]"><!--CARD-->
            <div class="card-header">
                <div>
                    <div class="sale-section">
                       <div class="dot"></div>
                       <div class="sale"> ON SALE</div> 
                    </div>
                    <div class="stock">
                        IN STOCK
                    </div>
                </div>
                <div>
                    <input type="number" 
                           class="quantity"  
                           name="quantity" 
                           min="1" 
                           max="9999"
                           value="1" />
                </div>
            </div>
            <img class="card-image"
                    src="https://chicks-products.s3.amazonaws.com/bf077ae0-dfff-40ac-a354-4b4b0d61571b" 
                    alt="">
            <div class="card-title">
                <div>
                    Blue Partyhat
                </div>
                <div>
                    <img class=""
                         src="https://chicks-games.s3.amazonaws.com/5695707f-378c-4b23-b85e-3216ccf3af06"
                         width="20"
                         height="20">
                </div>
            </div>
            <div class="amount-section">
                <span class="price-label">$450 </span>
                <span class="discount-label">$522.50</span>
            </div>
            <div class="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
            </div>
            <div class="card-footer">
                <button class="detail-button">DETAILS</button>
                <button class="add-button">
                    ADD 
                    <span class="cart-icon">
                        <i class="chick-cart"></i>
                    </span>
                </button>
            </div>
        </div><!--CARD-->
    </div>
    <!--PRODUCTS SECTION START-->
    
    <!--PAGINATION SECTION START-->
    <div class="pagination">
        <a class="arrow" href="#"><i class="chick-left"></i></a>
        <a href="#">1</a>
        <a class="active" href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">...</a>
        <a href="#">11</a>
        <a class="arrow" href="#"><i class="chick-right"></i></a>
      </div>
      <!--PAGINATION SECTION START-->
</div>
